
{% block content %}
<div class="p-2 max-w-4xl mx-auto md:p-6">
    <h1 class="text-2xl font-bold text-sky-900">Articles for Week {{ pregnancy_week }}</h1>

    {% if articles %}
        <div class="space-y-4">
            {% for article in articles %}
            <a href="{% url 'view_article' article.id %}" class="m-3">
                <div class="p-4 border border-gray-200 shadow-sm rounded-lg hover:shadow-md transition hover:border-gray-300 hover:bg-gray-100">
                    
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="w-full rounded-lg shadow max-w-4xl">
                    {% endif %}
                    <h2 class="text-lg font-semibold text-sky-600">
                       
                            {{ article.title }}
                    </h2>
                    {% if article.subtitle %}
                        <p class="text-sm text-gray-600">{{ article.subtitle }}</p>
                    {% endif %}
                    {% if article.related_week %}
                        <p class="text-sm text-gray-500">Related Week: {{ article.related_week }}</p>
                    {% endif %}
                    <p class="text-sm text-gray-500">Last updated: {{ article.last_updated|date:"F j, Y" }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-600">No articles available for your current pregnancy week.</p>
    {% endif %}
</div>
{% endblock %}