{% extends "base.html" %}
{% block content %}
<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4 text-sky-900">Eligibility Questionnaire</h1>
  <form method="post" class="mt-6 border-2 p-4 border-gray-300 rounded bg-sky-50">
    {% csrf_token %}
    <div class="mb-4">
      <label for="residency" class="block text-lg font-semibold text-gray-700">
         Do you live in the UK?
      </label>
      <div class="mt-1">
        <label>
          <input type="radio" name="residency" value="true" class="mr-2" required> Yes
        </label>
        <label>
          <input type="radio" name="residency" value="false" class="ml-4 mr-2" required> No
        </label>
      </div>
    </div>

    <div class="mb-4">
      <label for="salary" class="block text-lg font-semibold text-gray-700">
         What is your annual salary?
      </label>
      <input type="number" step="any" name="salary" id="salary" class="mt-1 block w-full rounded-md p-2 border-gray-300 shadow-sm focus:ring focus:ring-sky-500" placeholder="Enter your salary">
    </div>

    {% for group, criteria in grouped_criteria.items %}
      <h2 class="text-xl font-semibold mt-6 mb-2 underline">{{ group }}</h2>
      {% for criterion in criteria %}
        <div class="mb-4">
          <label for="criterion_{{ criterion.id }}" class="block text-lg font-semibold text-gray-700">
            {{ criterion.description }}
          </label>
          {% if criterion.value_type == "boolean" %}
            <div class="mt-1">
              <label>
                <input type="radio" name="criterion_{{ criterion.id }}" value="true" class="mr-2"> Yes
              </label>
              <label>
                <input type="radio" name="criterion_{{ criterion.id }}" value="false" class="ml-4 mr-2"> No
              </label>
            </div>
          {% elif criterion.value_type == "numeric" %}
            <input
              type="number"
              name="criterion_{{ criterion.id }}"
              id="criterion_{{ criterion.id }}"
              class="mt-1 block w-full rounded-md p-2 border-gray-300 shadow-sm focus:ring focus:ring-sky-500"
              placeholder="Enter a number"
            >
          {% elif criterion.value_type == "text" %}
            <input
              type="text"
              name="criterion_{{ criterion.id }}"
              id="criterion_{{ criterion.id }}"
              class="mt-1 block w-full rounded-md p-2 border-gray-300 shadow-sm focus:ring focus:ring-sky-500"
              placeholder="Enter a value"
            >
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}

    <button
      type="submit"
      class="w-full py-2 bg-sky-600 text-white rounded-lg !mb-1 hover:bg-sky-700 transition duration-200"
    >
      Submit
    </button>
  </form>
</div>
{% endblock %}