<header class="bg-rose-300">
    <!-- Logo and Toggle Menu -->
    <div class="lg:justify-center flex items-center justify-between px-4 py-3 md:px-8">
        <h1 class="text-3xl md:text-6xl font-bold">Bumpy Beginnings</h1>
        <button id="menu-toggle" class="text-slate-800 md:hidden focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>

    <!-- Navigation Links -->
    <nav id="mobile-menu" class="hidden md:flex md:items-center md:justify-center md:space-x-6 p-4">
        <ul class="flex flex-col md:flex-row text-center space-y-4 md:space-y-0 md:space-x-6 text-lg text-slate-800">
            {% if user.is_authenticated %}
            <li class="hover:text-gray-300">
                <a href="{% url 'homepage' %}">Homepage</a>
            </li>
            <li class="hover:text-gray-300">
                <a href="{% url 'forum_list' %}">Forums</a>
            </li>
            <li class="hover:text-gray-300">
                <a href="{% url 'questionnaire' %}">Benefit Calculator</a>
            </li>
            {% if user.is_staff %}
            <li class="hover:text-gray-300">
                <a href="{% url 'schema-swagger-ui' %}">API</a>
            </li>
            {% else %}
            <li class="hover:text-gray-300">
                <a href="{% url 'profile_update' %}">Update Profile</a>
            </li>
            {% endif %}
            <li class="hover:text-gray-300">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="hover:text-gray-300">
                <div class="relative group">
                    <button id="notification-button" class="p-2 relative rounded-full bg-white hover:bg-gray-100 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path d="M5.85 3.5a.75.75 0 0 0-1.117-1 9.719 9.719 0 0 0-2.348 4.876.75.75 0 0 0 1.479.248A8.219 8.219 0 0 1 5.85 3.5ZM19.267 2.5a.75.75 0 1 0-1.118 1 8.22 8.22 0 0 1 1.987 4.124.75.75 0 0 0 1.48-.248A9.72 9.72 0 0 0 19.266 2.5Z" />
                            <path fill-rule="evenodd" d="M12 2.25A6.75 6.75 0 0 0 5.25 9v.75a8.217 8.217 0 0 1-2.119 5.52.75.75 0 0 0 .298 1.206c1.544.57 3.16.99 4.831 1.243a3.75 3.75 0 1 0 7.48 0 24.583 24.583 0 0 0 4.83-1.244.75.75 0 0 0 .298-1.205 8.217 8.217 0 0 1-2.118-5.52V9A6.75 6.75 0 0 0 12 2.25ZM9.75 18c0-.034 0-.067.002-.1a25.05 25.05 0 0 0 4.496 0l.002.1a2.25 2.25 0 1 1-4.5 0Z" clip-rule="evenodd" />
                        </svg>
                        {% if unread_count > 0 %}
                        <span class="absolute bottom-6 left-7 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-600 rounded-full">
                            {{ unread_count }}
                        </span>
                        {% endif %}
                    </button>
                    {% include "notifications_dropdown.html" %}
                </div>
            </li>
            {% else %}
            <li class="hover:text-gray-300">
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li class="hover:text-gray-300">
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% if messages %}
<div class="container mx-auto p-4">
    {% for message in messages %}
        <div class="
            px-4 py-3 rounded shadow-md mb-4
            {% if message.tags == 'error' %}bg-red-100 border border-red-400 text-red-700
            {% elif message.tags == 'success' %}bg-green-100 border border-green-400 text-green-700
            {% endif %}
        " role="alert">
            <span class="block sm:inline">{{ message }}</span>
        </div>
    {% endfor %}
</div>
{% endif %}

<script>
    // JavaScript for toggling the mobile menu
    const toggleButton = document.getElementById('menu-toggle');
    const menu = document.getElementById('mobile-menu');

    toggleButton.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>