
{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-sky-900 mb-6">Admin Dashboard</h1>
    

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <a href="{% url 'benefit_list' %}" 
           class="text-center flex justify-center items-center bg-lime-200 font-semibold py-4 border border-gray-200 rounded-lg shadow hover:bg-lime-300 transition">
            Manage Benefit Calculator
        </a>
        <a href="{% url 'articles' %}" 
           class="text-cente flex justify-center items-center bg-cyan-200 font-semibold py-4 border border-gray-200 rounded-lg shadow hover:bg-cyan-300 transition">
            Manage User Articles
        </a>
        <a href="{% url 'trackers' %}" 
           class="text-center flex justify-center items-center bg-violet-300 font-semibold py-4 border border-gray-200 rounded-lg shadow hover:bg-violet-400 transition">
            Manage Development Milestones
        </a>
    </div>
    

    <div class="mt-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Moderator Tools</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    
            <div id="low-score-comments-container"
                 hx-get="{% url 'low_score_comments' %}"
                 hx-trigger="load once"
                 hx-swap="outerHTML">
      
            </div>
    
            <div id="mod-privileges-container"
                 hx-get="{% url 'manage_mod_privileges' %}"
                 hx-trigger="load once"
                 hx-swap="outerHTML">

            </div>
        </div>
    </div>
</div>
{% endblock %}