{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
        <div class="mx-auto flex justify-center">
            <div class="flex flex-col md:flex-row">

                <div id="milestone-container"
                    hx-get="{% url 'user_milestone' %}"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    class="mb-4 md:mb-0 md:mr-4">
                </div>

  
                <div id="articles-container"
                    hx-get="{% url 'user_articles' %}"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    class="p-2 flex-1 md:p-6">
                </div>
            </div>
        </div>
        {% else %}
            {% include "cms.html" %}
        {% endif %}
    {% endif %}
{% endblock %}